@font-face{
  font-family: 'Inter'; 
  src: url('../fonts/Pretendard-Medium.otf');
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Inter';
}
.login_section{
	position: relative;
	width: 100%;
	height: 100vh;
	background: linear-gradient(180deg, #FFFFFF 0%, #E0EFDD 99.99%, rgba(224, 239, 221, 0) 100%, rgba(224, 239, 221, 0) 100%);
	display: flex;
	justify-content: center;
}
.login_wrap{
	position: relative;
	width: 85%;
	height: 100%;
}
.logo_area{
	position: relative;
	width: 100%;
	height: 200px;
	display: flex;	
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 50px;
}
.forgot_pass>a{
	color: #A09F99;
}
.login_area{
	position: relative;
	width: 100%;
}
.login_area>ul{
	position: relative;
	width: 100%;
	height: 180px;
}
.login_area>ul>li{
	position: relative;
	width: 100%;
	height: 100px;
}
.login_area>ul>li>p{
	position: relative;
	color: #0B0B0B;
	padding: 5px;
}
.login_area>ul>li>input{
	position: relative;
	width: 100%;
	height: 55px;
	outline: none;
	border: none;
	border-radius: 6px;
	padding: 10px 10px;
	font-size: 16px;
}
.login_keep{
	position: relative;
	width: 100%;
	height: 68px;
	display: flex;
	justify-content: space-between;
}
.forgot_pass{
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.keep{
	position: relative;
	display: flex;
	width: 50%;
	height: 100%;
	align-items: center;
}
.keep>p{
	color: #A09F99;
}
.keep>p:nth-child(2){
	padding-left: 10px;
}
.login_btn{
	position: relative;
	width: 100%;
	height: 55px;
	background-color: #6D987E;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
}
.login_btn>p{
	position: relative;
	width: 100%;
	height: 100%;
}
.login_btn>p>input{
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background-color: #6D987E;
	color: white;
	border: none;
	outline: none;
	font-size: 16px;
	cursor: pointer;
}
.login_bottom{
	position: relative;
	width: 100%;
	height: 140px;
}
.login_other{
	position: relative;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
}
.login_other>i{
	width: 100%;
	height: 1px;
	background-color: #717171;
}
.login_other>p{
	position: relative;
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #717171;
}
.kakao_login{
	position: relative;
	width: 100%;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #484848;
	border-radius: 6px;
}
.kakao_login>a{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.kakao_login>a>p:nth-child(2){
	padding-left: 8px;
}
.login_join{
	position: relative;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.login_join>a{
	color: #484848;
}
.login_join>a>span{
	color: #6D987E;
}
#myCheck[type="checkbox"]+label {
    display: block;
    width: 42px;
    height: 24px;
    background: url('../images/radio.svg') no-repeat 0 0px / contain;
    margin-right: 10px;
}

#myCheck[type='checkbox']:checked+label {
    background: url('../images/radio_checked.svg') no-repeat 0 0px / contain;
}

#myCheck[type="checkbox"] {
    display: none;
}