@font-face{
  font-family: 'Inter'; 
  src: url('../fonts/Pretendard-Medium.otf');
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Inter'; 
}
.search_box{
	position: fixed;
	width: 100%;
	height: 90px;
	z-index: 5;
	top: 0;
	display: flex;
	justify-content: center;
}
.search_wrap{
	position: relative;
	width: 85%;
	height: 100%;
	display: flex;
	align-items: flex-end;
}
.search{
	position: relative;
	width: 100%;
	height: 60px;
	background-color: white;
	border-radius: 10px;
	display: flex;
}
.search_menu{
	position: relative;
	width: 20%;
	height: 100%;
	max-width: 60px;
	min-width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search_menu>img{
	position: relative;
	width: 20px;
}
.search_input{
	position: relative;
	width: 80%;
	height: 100%;
	background-color: blue;
}
.search_icon{
	position: relative;
	width: 15%;
	max-width: 60px;
	min-width: 60px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search_icon>img{
	position: relative;
	width: 20px;
}
.search_input>select{
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 18px;
}
.main_bottom{
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: #F3F9F2;
	z-index: 5;
	bottom: 0px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}
.bottom_wrap{
	position: relative;
	width: 85%;
	height: 100%;
}
.bottom_title{
	position: relative;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
}
.bottom_title>p{
	font-size: 23px;
	font-weight: 600;
	color: #6D987E;
}
.bottom_input{
	position: relative;
	width: 100%;
	height: 120px;
	display: flex;
}
.bottom_box{
	position: relative;
	width: 90%;
	height: 100%;
}
.bottom_box>ul{
	position: relative;
	width: 100%;
	height: 100%;
}
.bottom_box>ul>li{
	position: relative;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
}
.bottom_box>ul>li>select{
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	border-radius: 6px;
	font-size: 17px;
	padding: 10px;
	color: black;
}
.bottom_icon{
	position: relative;
	width: 10%;
	height: 100%:;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bottom_icon>p>img{
	width: 20px;
}
.bottom_btn{
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 20px;
}
.bottom_btn>a{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 18px;
	background-color: #6D987E;
	border-radius: 6px;
}
#routing-map{
	z-index: 0;
}